.container {


    
    width: 1500px;
    background-image: url(download.jpg);
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.box {
    width: 800px;
    box-sizing: border-box;
    border: 5px solid #190505;
    margin: 0 auto;
    margin-bottom: 50px;
   
    /* background-image: linear-gradient(red, yellow); */
    background-image:radial-gradient(yellow,blue,orange );
    /* background-image:repeating-radial-gradient(red,rgb(198, 198, 162),black 35px); */
}
 .box2 {
    width: 800px;
    box-sizing: border-box;
    border: 5px solid #190505;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image:linear-gradient(45deg,orange,blue,green);
    /* background-image: repeating-linear-gradient(45deg,red,yellow,black 5%); */
}

.box3 {
    width: 800px;
    box-sizing: border-box;
    border: 5px solid #190505;
    margin: 0 auto;
    background-image:repeating-linear-gradient( to right ,red,blue
     ) ;
     /* background-image: linear-gradient(to top ,rgba(255,0,0,1)); */
}
p{
    margin: 150px;
    font-size: 30px;
}
    
h1 {
    /* margin:20px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center; */
    margin: 150px;
}
.lnjpit {
    width: 500px;
    height: 500px;
    background-image: url(download.jpg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    border: 3px solid;
    
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}
.lnjpit .jp {
    background-color:rgba(0, 0,0, 0.8);
    color:#fff;
    position: absolute;
   
    left: 0;
    top: -100%;
    /* top: 0;
    left: 100%; */
    width: 100%;
    height: 100%;
   transition: all 0.8s;
}
.jp p {
    font-size: 15px;
}
.lnjpit:hover .jp {
    top: 0;
    /* left: 0; */
    
}
.mona {

}
.mona2 {
}